<script>
    export let database;

    let box;
    let isVisible;
    let hasNoContent = true;
    let suggestions = [];
    let index = -1;
    let start, end;

    document.addEventListener('focus', e => {
        if (e.target.tagName === 'INPUT') {
            positionBox(e.target);
        } else {
            isVisible = false;
        }
    });
    document.addEventListener('mousedown', e => {
        if (e.target.tagName === 'INPUT') {
            positionBox(e.target);
        } else {
            isVisible = false;
        }
    });

    document.addEventListener('keydown', e => {
        if (e.target.tagName === 'INPUT' &&
            isVisible &&
            (e.keyCode === 38 || e.keyCode === 40)) {
            e.preventDefault();

            if (e.keyCode === 38) {
                index--;
            } else {
                index++;
            }

            index = Math.max(0, Math.min(suggestions.length - 1, index));
            box.children[index].scrollIntoView();

            return false;
        }
    });

    document.addEventListener('keyup', e => {
        if (e.target.tagName === 'INPUT') {
            let caretPos = e.target.selectionStart;
            let value = e.target.value;

            if (e.keyCode === 38 || e.keyCode === 40) {
                e.preventDefault();
                return false;
            }
            if (e.keyCode === 13) {
                e.preventDefault();

                let word = value.substring(start, end);
                let replacement = suggestions[index] + (end >= value.length - 1 ? ' ' : '');

                e.target.value = value.substring(0, start) + replacement + value.substring(end);
                caretPos = e.target.selectionStart = e.target.selectionEnd = start + replacement.length;

                return false;
            }

            start = undefined;
            end = undefined;

            for (let i = 0; i < value.length; i++) {
                if (i < caretPos && value.charAt(i) === ' ') {
                    start = i + 1;
                }
                if (i >= caretPos && value.charAt(i) === ' ' && !end) {
                    end = i;
                }
            }
            if (start === undefined) {
                start = 0;
            }
            if (end === undefined) {
                end = value.length;
            }

            let word = value.substring(start, end);
            let wordFragment = value.substring(start, caretPos);

            suggestions = database.allTags().filter(tag => wordFragment.length > 0/*configurable, could also b 1 for '2 chars must be typed'*/ && tag.indexOf(wordFragment) !== -1).sort();
            hasNoContent = suggestions.length === 0;
            index = hasNoContent ? -1 : 0;

            isVisible = suggestions.length > 0/*remove this if the 'no suggestion' should be shown, otherwise will just hide the box*/ && value.trim().length > 0;
        } else {
            isVisible = false;
        }
    });

    function positionBox(input) {
        let bounds = input.getBoundingClientRect();

        // index = 0;

        box.style.top = (bounds.top + bounds.height) + 'px';
        box.style.left = (bounds.left + 10) + 'px';
        box.style.width = (bounds.width - 20) + 'px';
    }
</script>

<style>
    .autoComplete {
        position: absolute;
        top: 0;
        left: 0;
        /*border: 1px solid red;*/
        background-color: white;
        display: none;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
        padding: 10px 0;
        max-height: 180px;
        overflow-y: auto;
        z-index: 20;
    }

    .autoComplete__entry {
        padding: 5px 10px;
        background-color: white;
    }

    .autoComplete__info {
        display: none;
    }

    .isVisible {
        display: block;
    }

    .hasNoContent {
        display: block;
    }

    .selected {
        background-color: #eee;
    }
</style>

<div class="autoComplete" bind:this={box} class:isVisible={isVisible}>
    {#each suggestions as suggestion, i}
    <div class="autoComplete__entry" class:selected={i === index}>{suggestion}</div>
    {/each}
    <div class="autoComplete__info" class:hasNoContent={hasNoContent}>No suggestions</div>
</div>