<script>

    function importBookmarks() {
        chrome.bookmarks.getTree(tree =>
            tree.forEach(node => importBookmarkNode(node))
        );

        window.$emit('db_imported');
        window.$emit('message', {title:'Import done', text:'All bookmarks imported'});
    }

    function importBookmarkNode(node) {
        if (node.children) {
            // We won’t touch the root directory which has no parentId,
            // as well as the “BookmarkBar Folder” and the “Other Folder”
            // both of which have parentId as `0`. We’ll cover everything else here
            // if (node.parentId && node.parentId != '0') {
            //     // list.innerHTML += '<li>' + node.title + '(Folder)</li><ul id="' + node.id + '"></ul>';
            // }
            node.children.forEach(child => importBookmarkNode(child));
        }
        if (node.url) {
            window.$emit('db_add',{
                url: node.url,
                title: node.title || node.url,
                icon: ''
            });
        }
    }
</script>

<a class="button" on:click={importBookmarks} alt="Import current bookmarks" title="Import current bookmarks">🖤</a>
