<script>
    export let position;


</script>

<style>
    .buttonBar {
        position: absolute;
        right: 4em;
        bottom: 2em;
    }

    .left {
        left: 4em;
        right: initial;
    }

    .right {
        left: initial;
        right: 4em;
    }
</style>

<div class="buttonBar" class:left={position === 'left'} class:right={position === 'right'}>
	<slot />
</div>