<script>
    export let database;

    function clearDb() {
        database.clear().then(data => {
            window.$emit('db_cleared');
            window.$emit('message', {title:'Reset done', text:`Database content was cleared`});
        });
    }
</script>

<a class="button" alt="Empties the database" title="Empties the database" on:click={clearDb}>✖️</a>