<script>
    export let database;

    function exportDb() {
        database.exportContent().then(data => {
            var filename=`hoarder_${new Date().toISOString()}.db_dump`;
            var element = document.createElement('a');
            var blob = new Blob([data], {type: 'text/plain'});

            element.href = URL.createObjectURL(blob);
            element.download = filename;
            element.style.display = 'none';

            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);

            window.$emit('message', {title:'Export done', text:`Database content was exported to<br><br>${filename}`});
        });
    }
</script>

<a class="button" alt="Export a db-dump from hoarder" title="Export a db-dump from hoarder" on:click={exportDb}>🔻</a>