<script>
    if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
        console.error('The File APIs are not fully supported in this browser.');
    }

    function importFile(e) {
        var files = e.target.files; // FileList object

        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            var file = files[i];

            reader.onloadend = e => {
                if (e.target.readyState == FileReader.DONE) { // DONE == 2
                    if (file.type === 'text/html') {
                        let doc = document.createElement('DIV');
                        doc.innerHTML = e.target.result;
                        importHTML(doc);
                    } else if (file.type === 'text/plain') {
                        importText(e.target.result);
                    }

                    window.$emit('db_imported');
                }
            };

            reader.readAsText(f);

            window.$emit('message', { title: 'Import done', text: 'All bookmarks imported' });
        }
    }

    function importHTML(node) {
        let check = [];
        check.push(node);

        while (check.length > 0) {
            let n = check.shift();

            if (n.tagName === 'A') {
                window.$emit('db_add', {
                    url: n.href,
                    title: n.innerText || n.href,
                    icon: ''
                });
            }
            for (let i = 0; i < n.children.length; i++) {
                check.push(n.children[i]);
            }
        }
    }

    function importText(text) {
        let lines = text.split('\n');

        lines.forEach(line => {
            if (line.trim().length > 0) {
                let i = line.indexOf(' | ');

                if (i !== -1) {
                    //let url = line.substring(0, i).trim();
                    //let title = line.substring(i + 3).trim();

                    window.$emit('db_add', {
                        url: line.substring(0, i).trim(), //url,
                        title: line.substring(i + 3).trim(), //title || url,
                        icon: ''
                    });
                } else {
                    if (line.indexOf('http') === 0) {
                        window.$emit('db_add', {
                            url: line,
                            title: line,
                            icon: ''
                        });
                    } else {
                        console.log('weird line [' + line + ']');
                    }
                }
            }
        });
    }

</script>

<style>
    #files {
        color: var(--text-color);
        /* color: #333; */
        width: 0;
        /* height: 100%; */
        display: inline-block;
        /* background-color: #ccc; */
        padding-left: calc(65px + 10px + 10px);
        overflow: hidden;
        /* border-radius: 4px; */
        border: none;
        position: relative;
        cursor: pointer;
        border-left: 1px solid rgba(255, 255, 255, .1);
        font-size: 1em;
    }

    #files::-webkit-file-upload-button {
        background-color: red;
        opacity: 0;
    }

    #files::after {
        content: 'Import File';
        position: absolute;
        top: 0;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1em;
    }

    .fileChooser {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    .fileChooser__label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }
</style>

<div class="button">
    <input class="fileChooser" on:change={importFile} type="file" id="files" name="files[]" multiple alt="Import a file (TXT, HTML)" title="Import a file (TXT, HTML)" />
    <span class="fileChooser__label">📄</span>
</div>