<script>
    let visible;
</script>
<style>
    .helpPage {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .75);
        pointer-events: none;
        opacity: 0;
        transition: opacity 250ms;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .helpPage__title {
        display: flex;
    }

    .helpPage__title_text {
        flex-grow: 1;
        line-height: 3em;
        font-size: 1.5em;
        color: white;
    }

    .helpPage__title_close {
        flex-grow: 0;
        line-height: 3em;
        font-size: 1.5em;
        color: rgba(255, 255, 255, .25);
        cursor: pointer;
    }

    .helpPage__title_close:hover {
        text-decoration: none;
        color: white;
    }

    .helpPage__content {
        color: white;
        padding: 0 20px;
        overflow-y: auto;
    }

    .visible {
        opacity: 1;
        pointer-events: all;
    }
</style>

<div class="button" on:click={e=> visible = true}>❓</div>
<div class="helpPage" class:visible={visible}>
    <div class="helpPage__title">
        <h2 class="helpPage__title_text">Help</h2>
        <a class="helpPage__title_close" on:click={e=> visible = false}>✖️</a>
    </div>
    <div class="helpPage__content">
        <h3>UI</h3>
        <dl>
            <dt>... (upper/left corner)</dt>
            <dd>Use this input to enter search terms. Search happens in an AND-logic (means all search terms must be present
                for a valid search hit). A search term don't have to be complete as word it is used as it is. The more complete
                the search term is, the more restricted the search result will be.
                <br> You can search plainly (the titles of all entries are checked), or you can use specific characters for a
                different search:
                <ul>
                    <li>@ / Use this to search for content in urls like '@google' to get something like 'http://www.google.de',
                        'http://www.google.com' or 'http://some.thing.com/with/google/in/its/url', etc. If you just enter
                        a single '@' it'll show you all entries that have an url but no title</li>
                    <li># / Use this to search all tags. If you use just a single '#' then it returns you all entries that have
                        no tags definied so far.</li>
                    <li>~ / Use this (as single '~' only!) to get all entries that aren't checked (s. below for 'checking').</li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>📄</dt>
            <dd>Use this to import bookmarks from a file. Supported are HTML-Bookmark-files (like these you'll get from exporting
                from Firefox, Chrome, etc.). You can also import plain Link-lists as TXT-File (so for example an OneTab-export,
                but also any other TXT in that form).</dd>
        </dl>
        <dl>
            <dt>🖤</dt>
            <dd>Use this to import your current bookmarks of your browser.</dd>
        </dl>
        <dl>
            <dt>🔻</dt>
            <dd>Use this to your current Hoarder-Database into a dump-file (stored in your default Download-folder).</dd>
        </dl>
        <dl>
            <dt>🔺</dt>
            <dd>Use this to import a previously exported Hoarder-Database-dump.</dd>
        </dl>
        <dl>
            <dt>✖️</dt>
            <dd>Use this to clear your Hoarder-Database
                <span style="color:#FF6666;">(!Be cautiouss!)</span>.</dd>
        </dl>
        <h3>Entries</h3>
        After a search you'll a search result in form of a list. Each entry in this list has several options:
        <dl>
            <dt>✖️</dt>
            <dd>Use this to that entry, it'll be gone... forever.</dd>
        </dl>
        <dl>
            <dt>✔️</dt>
            <dd>Use this to check/uncheck this entry (it toggles). 'Checked' means you did all you want to do on this entry (defined
                title, tags, etc.). It is optional and just for organisational use.</dd>
        </dl>
        <dl>
            <dt>Tag-Input</dt>
            <dd>Use this define/add tags to this entry. Later you can search for these tags.</dd>
        </dl>
        Hint: all editing is saved directly.
    </div>
</div>