<script>
    export let database;

    function importDb(e) {
        var files = e.target.files; // FileList object

        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            var file = files[i];

            reader.onloadend = e => {
                if (e.target.readyState == FileReader.DONE) { // DONE == 2
                    let text = e.target.result;
                    let lines = text.split('\n');

                    lines.forEach(line => {
                        let words = line.split('\t');
                        let url = words[0];
                        let title = words[1];
                        let tags = words[2];
                        let check = words[3];
                        let icon = words[4];

                        if (url && url.trim().length > 0) {
                            window.$emit('db_add', {
                                url: url,
                                title: title,
                                icon: icon,
                                check: check === 'true',
                                tags: tags
                            });
                        }
                    });

                    window.$emit('db_imported');
                }
            };

            reader.readAsText(f);

            window.$emit('message', { title: 'Import done', text: 'All bookmarks imported' });
        }
    }
</script>

<style>
    .fileChooser {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    .fileChooser__label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }
</style>

<div class="button">
    <input class="fileChooser" on:change={importDb} type="file" id="files" name="files[]" multiple alt="Import a db-dump to hoarder" title="Import a db-dump to hoarder" />
    <span class="fileChooser__label" alt="Import a db-dump to hoarder" title="Import a db-dump to hoarder">🔺</span>
</div>