<script>
	import ListEntry from './ListEntry.svelte';

    export let entries;

    let changedData = {};

    setInterval(() => {
        Object.keys(changedData).forEach(key => {
            let change = changedData[key];

            if (change.timer > 0) {
                change.timer--;

                if (change.timer === 0) {
                    console.log('update entry');
                    console.log(change);
                    window.$emit('db_update', change.data.data);

                    if(change.data.callback){
                        change.data.callback();
                    }
                    //change.data.unsaved = false;
                    delete changedData[key];
                }
            }
        });
    }, 10);

    /**
     * Adding a changed made to the entry. We add a 'register-entry' to out
     *  'changedData'-set to track which entries have changed and when it was.
     *  That way we minimize the database IO.
     */
    function changed(e) {
        let data = e.detail;

        changedData[data.key] = {
            timer: 50,
            data: data
        };
    }
</script>

<style>
    .list {
        flex: 1;
        position: relative;
    }
</style>

<div class="list">
    {#each entries as data}
        <ListEntry bind:data={data} on:entry_changed={changed} />
	{/each}
</div>