<script>
    import { createEventDispatcher } from 'svelte';

    export let data;

    const dispatch = createEventDispatcher();

    let selected = false;
    let link;
    let input;

    // computed
    $: isChecked = data.value.check;

    function update(e) {
        console.log(e.keyCode);
        switch(e.keyCode){
            case 37:
            case 38:
            case 39:
            case 40:
            case 16:
            case 17:
            case 18:
                break;
            default:
                data.unsaved = true;
                dispatch('entry_changed', {data:data, callback:() => data.unsaved = false});
                //window.$emit('db_update', data);
                break;
        }
    }

    function check() {
        data.value.check = !data.value.check;
        dispatch('entry_changed', {data:data, callback:null});
        //window.$emit('db_update', data);
    }

    function openUrl(e) {
        if (link.href.indexOf('file://') === 0) {
            e.preventDefault();

            window.$emit('message', {
                title:'Error',
                text:`Can't open a local path, prohibited by browser security.<br><br><div style="text-align:center;font-weight:bold;">${link.href}</div>`
            });

            return false;
        } else {
            selected = true;
        }
    }
</script>

<style>
    .listEntry {
        display: flex;
        width: 100%;
        line-height: 2em;
        height: 2em;
        position: relative;
        transition: background-color 250ms;
        font-size: 1.25em;
        padding: .3em 0;
    }

    .listEntry::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 0;
        pointer-events: none;
        z-index: 11;
        transition: opacity 250ms, height 250ms, top 250ms, background-color 250ms;
        opacity: 0;
    }

    .listEntry:hover::after {
        background-color: var(--highlightA-color);
        height: 100%;
        opacity: 1;
        top: 0;
    }

    .listEntry.selected::after {
        background-color: var(--highlightB-color);
        height: 100%;
        opacity: 1;
        top: 0;
    }

    .listEntry.finalized .listEntry__title_text {
        border-left: .25em solid transparent;
    }

    .listEntry.unsaved .listEntry__tags {
        color: red !important;
    }

    .listEntry__btnDelete,
    .listEntry__btnCheck {
        width: 32px;
        min-width: 32px;
        flex-grow: 0;
        text-align: center;
        opacity: 0;
        transition: opacity 250ms;
        font-size: .75em;
        color: var(--text-color);
        cursor: pointer;
        text-decoration: none;
    }

    .listEntry__title {
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        position: relative;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
    }

    .listEntry__title:visited {
        color: var(--text-color);
    }

    .listEntry__title_icon {
        position: relative;
        display: inline-block;
        min-width: 1em;
        height: 1em;
        flex-grow: 0;
        padding-left: .5em;
        padding-right: .5em;
        top: 50%;
        transform: translateY(-50%);
    }

    .listEntry__title_text {
        width: 100%;
        padding-left: .25em;
        flex-grow: 1;
        border-left: .25em solid orange;
        position: relative;
        display: inline-block;

        background: linear-gradient(to right, black 80%, transparent 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .listEntry:hover .listEntry__btnDelete,
    .listEntry:hover .listEntry__btnCheck,
    .listEntry:hover .listEntry__tags,
    .listEntry.selected .listEntry__btnDelete,
    .listEntry.selected .listEntry__btnCheck,
    .listEntry.selected .listEntry__tags {
        opacity: 1;
    }

    .listEntry__tags {
        background-color: transparent;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, .1);
        font-size: .75em;
        transition: opacity 250ms;
        position: relative;
        display: inline-block;
        width: 300px;
        min-width: 300px;
        flex-grow: 0;
        outline: none;
        border: none;
        font-weight: bold;
        color: #555;
        background-color: transparent;
        font-style: italic;
        padding-left: 16px;
        opacity: 0;
        margin: 0;
    }

    .listEntry__tags::placeholder {
        color: rgba(0, 0, 0, .125);
    }
</style>

<div class="listEntry" class:selected={selected} class:finalized={isChecked} class:unsaved={data.unsaved}>
    <a class="listEntry__btnDelete" alt="Delete this entry" on:click={()=> window.$emit('db_delete', data)}>✖️</a>
    <a class="listEntry__btnCheck" alt="Mark this entry" on:click={check}>✔️</a>
    <a class="listEntry__title" href={data.value.url} target="_blank_" on:click={openUrl} bind:this={link}>
        <img class="listEntry__title_icon" onerror_="this.classList.add('no-image')">
        <span class="listEntry__title_text">{data.value.title}</span>
    </a>
    <input class="listEntry__tags"
           on:keyup={update}
           on:focus={()=> selected = true}
           on:blur ={() => selected = false}
           bind:this={input}
           bind:value ={data.value.tags}
           type ="text"
           placeholder="Enter tags for this entry" />
</div>

<!-- https://www.w3schools.com/howto/howto_js_autocomplete.asp -->