<script>
    let modal;
    let text;
    let title;
    let isVisible;

    window.$on('message', e => show(e.detail));

    function show(message) {
        title.innerHTML = message.title;
        text.innerHTML = message.text;

        isVisible = true;
        //modal.classList.add('modal--shown');
    }

    function close() {
        isVisible = false;
        //modal.classList.remove('modal--shown');
    }
</script>

<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.2);
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms;
    }

    .modal.isVisible {
        opacity: 1;
        pointer-events: all;
    }

    .modal__dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px 5px rgba(0,0,0,.125);
        margin-top: -30px;
        transition: margin-top 250ms;
    }

    .modal.isVisible .modal__dialog {
        margin-top: 0;
    }

    .modal__dialog_titleBar {
        background-color: #eee;
        padding: 5px 10px;
        display: flex;
    }

    .modal__dialog_titleBar_text {
        flex-grow: 1;
        padding-right: 10px;
        font-weight: bold;
        font-size: .875em;
        line-height: 2em;
    }

    .modal__dialog_titleBar_closeBtn {
        flex-grow: 0;
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    .modal__dialog_content {
        background-color: white;
        padding: 15px 10px;
    }
</style>

<div class="modal" bind:this={modal} class:isVisible={isVisible}>
    <div class="modal__dialog">
        <div class="modal__dialog_titleBar">
            <span class="modal__dialog_titleBar_text" bind:this={title}></span>
            <a class="modal__dialog_titleBar_closeBtn" on:click={close}>✖️</a>
        </div>
        <div class="modal__dialog_content" bind:this={text}></div>
    </div>
</div>
