<script>
    import Filter from './Filter';

    let inputCounter = 0;
	let filter = [];
    let value = localStorage.lastSearch || '';
    let input;
    let autoCompletion;

    window.$on('view_changed', e => {
        if(e.detail.restore){
            updateSearch();
        }
    });

    setInterval(() => {
        if (inputCounter > 0) {
            inputCounter--;

            if (inputCounter === 0) {
                localStorage.lastSearch = value;

                updateSearch();
            }
        }
    }, 100);

    function updateSearch(){
        window.$emit('db_show', value // here we split the input in words, filtering and mapping all to instances of 'Filter', which we use a Event-detail for updating our database view
            .trim()
            .toLowerCase()
            .split(' ')
            .map(word => word.trim())
            .filter(word => word.length > 0)
            .map(word => new Filter(word))
        );
    }

    function clearSearch () {
        value = '';
        window.$emit('db_show', [] );
    }
</script>

<style>
    .toolBar__search {
        flex: 1;
        position: relative;
        position: relative;
        padding-right: 1em;
        display: flex;
    }

    .toolBar__search > input {
        text-align: right;
        display: inline-block;
        width: 100%;
        border: none;
        font-weight: bold;
        outline: none;
        color: var(--primary-color);
        background-color: transparent;
        font-weight: 200;
        font-size: 3em;
        height: 1em;
        line-height: 1em;
        margin: 0;
        height: 100%;
        flex-grow: 1;
    }

    .toolBar__search > input::placeholder {
        color: rgba(0,0,0);
    }

    .toolBar__search_clearBtn {
        color: rgba(0,0,0,.25);
        flex-grow: 0;
        cursor: pointer;
        display: inline-block;
        width: 3em;
        text-align: center;
        opacity: 0;
        pointer-events: none;
    }

    .toolBar__search_clearBtn.visible {
        opacity: 1;
        pointer-events: all;
    }

    .toolBar__search_clearBtn:hover {
        text-decoration: none;
    }
</style>

<div class="toolBar__search">
    <input on:keyup    ={e => inputCounter = 5}
           class="toolBar__search_input"
           bind:value  ={value}
           bind:this   ={input}
           id          ="searchInput"
           type        ="text"
           alt         ="Enter search term (plain, #tag or @url. can also be combined (AND))"
           title       ="Enter search term (plain, #tag or @url. can also be combined (AND))"
           placeholder ="..." />
    <a class="toolBar__search_clearBtn" class:visible={value && value.trim().length > 0} on:click={clearSearch}>✖️</a>
</div>
