<script>
function selected() {
    console.log('selected');
}
</script>

<select id="tags" on:change={selected}>
    <option value="aaa">aaa</option>
    <option value="bbb">bbb</option>
    <option value="ccc">ccc</option>
    <option value="ddd">ddd</option>
</select>
