<script>
	import BookmarkImportButton from './BookmarkImportButton.svelte';
	import FileImportButton from './FileImportButton.svelte';
	import SearchBox from './SearchBox.svelte';
	import TagSelector from './TagSelector.svelte';

    let count = 0;
    let pageSize = 0;
    let offset = 0;
    let fragmentA = '';
    let fragmentB = '';
    let fragmentC = '';
    let reactiveOnHover = true;

    // computed
    $: if (count) {
        fragmentA = `${offset + 1}..${Math.min(count, offset + pageSize)}`;
        fragmentB = ' / ';
        fragmentC = `${count}`;
        reactiveOnHover = true;
    } else {
        fragmentA = 'No result found';
        fragmentB = '';
        fragmentC = '';
        reactiveOnHover = false;
    }

    function test() {
        return 'foo';
    }

    window.$on('view_changed', e => {
        count = e.detail.count;
        pageSize = e.detail.pageSize;
        offset = e.detail.offset;
    });
</script>

<style>
    .toolBar {
        display: flex;
        padding: 3.5em 3.5em;
        height: 4em;
        line-height: 4em;
        padding-right: 1em;
    }

    .toolBar__title {
        height: 4em;
        line-height: 4em;
    }

    .toolBar__title_text {
        flex: 0;
        font-size: 4em;
        font-weight: bold;
        color: var(--text-color);
        text-transform: uppercase;
        color: var(--primary-color);
        font-weight: 800;
    }

    .toolBar__title_info {
        height: 2em;
        line-height: 2em;
        text-align: center;
        width: 150px;
        font-size: 2em;
        position: relative;
        top: -20px;
        left: 4px;
    }

    .toolBar__title_info_hint {
        display: inline-block;
        position: relative;
        font-size: 1em;
        height: 1em;
        line-height: 1em;
    }

    .toolBar__title_info_hint::after {
        content: '<<';
        background-color: var(--bg-color);
        position: absolute;
        font-size: .75em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
    }

    .toolBar__title_info_hint.reactiveOnHover:hover::after {
        display: block;
    }

    .toolBar__title_info_count::after {
        content: '⏪';
    }

    .toolBar__title_info_split {
        min-width: 48px;
    }
    .toolBar__title_info_split::after {
        content: '🔄';
    }

    .toolBar__title_info_total::after {
        content: '⏩';
    }

</style>


<div class="toolBar" alt="xyz">
    <div class="toolBar__title">
        <div id="title" class="toolBar__title_text">Hoarder</div>
        <span id="info" class="toolBar__title_info">
            <span class="toolBar__title_info_hint toolBar__title_info_count" id="count"   class:reactiveOnHover={reactiveOnHover} on:click={() => window.$emit('db_goto_page', 'previous')}>{fragmentA}</span>
            <span class="toolBar__title_info_hint toolBar__title_info_split" id="refresh" class:reactiveOnHover={reactiveOnHover} on:click={() => window.$emit('db_refresh_page')} >{fragmentB}</span>
            <span class="toolBar__title_info_hint toolBar__title_info_total" id="total"   class:reactiveOnHover={reactiveOnHover} on:click={() => window.$emit('db_goto_page', 'next')} >{fragmentC}</span>
        </span>
    </div>
    <SearchBox />
</div>